* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial;
}

:root {
	--main: #31332b;
	--gray: #4d4f46;
	--gray-light: #63665c;
}

body {
	background-color: var(--main);
	overflow: hidden;
}

#editor {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 15px;
	grid-template-areas:
		"canvas canvas canvas canvas"
		"command command calc calc"
		"info info info info";
	padding: 15px;
	color: #fff;
}

#canvas {
	grid-area: canvas;
	cursor: crosshair;
	place-self: center;
	background-color: var(--gray);
}
#pallete-command {
	grid-area: command;
}
#pallete-calc {
	grid-area: calc;
}
#info {
	grid-area: info;
	padding: 20px;
	color: #fff;
	&.err {
		background-color: red;
	}
	&.info {
		background-color: blue;
	}
}

.pallete {
	display: flex;
	flex-direction: column;
	gap: 15px;
	ul {
		display: flex;
		gap: 15px;
	}
	li {
		padding: 10px;
		background-color: var(--gray);
		list-style-type: none;
		&:hover {
			background-color: var(--gray-light);
			cursor: pointer;
		};
	}
	.activeCommand {
		background-color: orange;
	}
}

.pointElemJS {
	position: absolute;
	min-width: 20px;
	min-height: 20px;
}
.barElemJS {
	position: absolute;
	min-height: 20px;
	transform-origin: center center;
	top: -10px;
	left: 0;
}