* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial;
}

:root {
	--main: #31332b;
	--gray: #4d4f46;
	--gray-light: #63665c;
	--red: #e54c4c;
}

body {
	background-color: var(--main);
	overflow: hidden;
}

#editor {
	display: grid;
	grid-template-columns: 1fr 400px;
	gap: 15px;
	grid-template-areas:
		"canvas pallete"
		"info pallete";
	padding: 15px;
	color: #fff;
}

#canvas {
	grid-area: canvas;
	cursor: crosshair;
	width: 100%;
	place-self: center;
	background-color: var(--gray);
}

#pallete {
	grid-area: pallete;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

#pallete-cords {
	display: none;
}

#info {
	grid-area: info;
	color: #fff;
	.err {
		background-color: var(--red);
		padding: 10px;
	}
	.info {
		background-color: blue;
	}
}

.info-command {
	margin-bottom: 15px;
}

.pallete {
	display: flex;
	flex-direction: column;
	gap: 15px;
	ul {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	li {
		display: flex;
		gap: 5px;
		list-style-type: none;
	}
	.activeCommand {
		background-color: orange;
	}
}

.command-name {
	order: 1;
	text-transform: uppercase;
	font-weight: bold;
}

li:has(.command-keyword) {
	&::before {
		order: 2;
		content: '("';
	}

	&::after {
		order: 2;
		content: '")';
	}
}

.command-keyword {
	margin: 0 -5px;
	order: 2;
	font-style: italic;
	&:first-letter {
		color: red;
		text-transform: uppercase;
	}
}
.command-description {
	order: 3;

	&::before {
		content: '- ';
	}
}


label:has(.pallete-field) {
	display: flex;
	gap: 10px;
	align-items: center;
	font-size:  1.1em;
}

.pallete-field {
	padding: 3px 5px;
	background-color: var(--gray-light);
	color: #fff;
	border: none;
	border-radius: 2px;
	max-width: 100px;
	text-align: right;
	font-size:  1.1em;
}

.pointElemJS {
	position: absolute;
	min-width: 20px;
	min-height: 20px;
}
.barElemJS {
	position: absolute;
	min-height: 20px;
	transform-origin: center center;
	top: -10px;
	left: 0;
}

.btn {
	padding:  5px;
	color: #fff;
	font-size: 16px;
	background-color: var(--gray);
	border: none;
	&:hover {
		background-color: var(--gray-light);
		cursor: pointer;
	}
}