* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial;
}

:root {
	--main: #31332b;
	--gray: #4d4f46;
	--gray-light: #63665c;
}

body {
	background-color: var(--main);
	overflow: hidden;
}

#editor {
	display: grid;
	grid-template-columns: 1fr 400px;
	gap: 15px;
	grid-template-areas:
		"canvas pallete"
		"info pallete";
	padding: 15px;
	color: #fff;
}

#canvas {
	grid-area: canvas;
	cursor: crosshair;
	width: 100%;
	place-self: center;
	background-color: var(--gray);
}

#pallete {
	grid-area: pallete;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

#pallete-cords {
	display: none;
}

#info {
	grid-area: info;
	padding: 20px;
	color: #fff;
	&.err {
		background-color: red;
	}
	&.info {
		background-color: blue;
	}
}

.pallete {
	display: flex;
	flex-direction: column;
	gap: 15px;
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 15px;
	}
	li {
		padding: 10px;
		background-color: var(--gray);
		list-style-type: none;
		&:hover {
			background-color: var(--gray-light);
			cursor: pointer;
		};
	}
	.activeCommand {
		background-color: orange;
	}
}

.pointElemJS {
	position: absolute;
	min-width: 20px;
	min-height: 20px;
}
.barElemJS {
	position: absolute;
	min-height: 20px;
	transform-origin: center center;
	top: -10px;
	left: 0;
}